$card-bg: rgba(0, 0, 0, 0.878); 
$text-color: white; 
$gold-color: #917a15;

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
  color: $text-color;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(47, 47, 47, 0.337) 50%, rgba(255, 255, 255, 0.792) 50%);
  box-shadow: 0 10px 20px black;
  transition: transform 0.3s ease;
  margin-bottom: 30px;

  &:hover {
    transform: scale(1.05);
  }

  .card-image {
    align-items: center;
    width: 100%;
    height: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card-info {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $card-bg;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
  }
}

.card-image.anana              { background-image: url(../img/anana.png); }
.card-image.pepperoni-img     { background-image: url(../img/pepperoni.png); }
.card-image.m-cherry-img      { background-image: url(../img/m-cherry.png); }
.card-image.anchoas-img       { background-image: url(../img/anchoas.png); }
.card-image.napolitana-img    { background-image: url(../img/napolitana.png); }
.card-image.cuatro-quesos-img { background-image: url(../img/cuatro-quesos.png); }
.card-image.fugazzeta-img     { background-image: url(../img/fugazzeta.png); }
.card-image.capresse-img      { background-image: url(../img/pizza-caprese.png); }
.card-image.bacon-img         { background-image: url(../img/bacon.png); }


.card-image.anana{
  background-size: 150%;
  background-position: 37% center;
}
.card-image.pepperoni-img{
  background-size: 150%;
  background-position: 53% center;
}
.card-image.m-cherry-img{
  background-size: 148%;
  background-position: 51% center;
}
.card-image.anchoas-img{
  background-size: 150%;
  background-position: 42% center;
}
.card-image.napolitana-img{
  background-size: 150%;
  background-position: 45% center;
}
.card-image.cuatro-quesos-img{
  background-size: 150%;
  background-position: 55% center;
}
.card-image.fugazzeta-img{
  background-size: 145%;
  background-position: 49% center;
}
.card-image.capresse-img{
  background-size: 160%;
  background-position: 51% center;
}
.card-image.bacon-img{
  background-size: 162%;
  background-position: 49% center;
}

