$card-bg: rgba(0, 0, 0, 0.878); 
$text-color: white; 
$gold-color:#917a15;

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 30px;
  justify-items: center;
  padding: 20px;


  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfdd5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background: linear-gradient(135deg, rgba(47, 47, 47, 0.337) 50%, rgba(255, 255, 255, 0.792) 50%);


  .card-image {
    width: 100%;
    height: 85%; 
    background-size: 140%;
    background-position: 35%;
    background-repeat: no-repeat;
  }

  .card-info {
    height: 15%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $card-bg;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
  }
}

/*AJUSTES PARA CADA ITEM*/

.pepperoni .card-image{
    width: 100%;
    height: 85%; 
    background-size: 140%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.m-cherry .card-image{
    width: 100%;
    height: 85%; 
    background-size: 140%;
    background-position: 45%;
    background-repeat: no-repeat;
}

.anchoas .card-image{
  width: 100%;
  height: 85%; 
  background-size: 140%;
  background-position: 40%;
  background-repeat: no-repeat;
}

.napolitana .card-image{
  width: 100%;
  height: 85%; 
  background-size: 140%;
  background-position: 43%;
  background-repeat: no-repeat;
}

.cuatro-quesos .card-image{
  width: 100%;
  height: 85%; 
  background-size: 140%;
  background-position: 53%;
  background-repeat: no-repeat;
}

.fugazzeta .card-image{
  width: 100%;
  height: 85%; 
  background-size: 140%;
  background-position: 45%;
  background-repeat: no-repeat;
}

.capresse .card-image{
  width: 100%;
  height: 85%; 
  background-size: 160%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.bacon .card-image{
  width: 100%;
  height: 85%; 
  background-size: 160%;
  background-position: 46%;
  background-repeat: no-repeat;
}

.card-image {
  width: 100%;
  height: 200px; /* ajustá según necesidad */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

/* Agregá estas clases específicas */
.card-image.anana {
  background-image: url(../img/anana.png);
}

.card-image.pepperoni-img {
  background-image: url(../img/pepperoni.png);
}

.card-image.m-cherry-img {
  background-image: url(../img/m-cherry.png);
}

.card-image.anchoas-img {
  background-image: url(../img/anchoas.png);
}

.card-image.napolitana-img {
  background-image: url(../img/napolitana.png);
}

.card-image.cuatro-quesos-img {
  background-image: url(../img/cuatro-quesos.png);
}

.card-image.fugazzeta-img {
  background-image: url(../img/fugazzeta.png);
}

.card-image.capresse-img {
  background-image: url(../img/pizza-caprese.png);
}

.card-image.bacon-img {
  background-image: url(../img/bacon.png);
}
